{{define "content"}}
<section class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow border-0">
                    <div class="card-body p-4">
                        <h2 class="fw-bolder text-center mb-4">Register</h2>
                        <form>
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." />
                                <label for="name">Full name</label>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" />
                                <label for="email">Email address</label>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password"
                                    placeholder="Create a password" />
                                <label for="password">Password</label>
                            </div>
                            <!-- Confirm Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="confirmPassword" type="password"
                                    placeholder="Confirm password" />
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                    type="submit">Register</button></div>
                        </form>
                        <div class="text-center mt-3">
                            <p>Already have an account? <a href="login.html">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}